{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'main_app/styles/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soft Jinn</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <a class="home-button" href='/'>Домой</a>
            {% if request.user.is_authenticated %}
                <div class="header-username">{{user.username}}</div>
                <a class="logout-button" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="register-button" href="{% url 'register' %}">Регистрация</a>
                <a class="login-button" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
        {% block header %}
        {% endblock header %}
    </div>

    <div id="overlay"></div>
    <div id="overlay-details"></div>

    {% block content %}
    {% endblock %}    
</body>
</html>