{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> {{idea.title}} </h1>

<p> 
    {{idea.description|linebreaks}}
</p>
<ul>
{% for user in usernames %}
<li>{{user}}</li>
{% endfor %}
</ul>

{% if request.user.is_authenticated and not isUserResponsed%}
<button class="response-button" onclick="makeResponse()">Откликнуться</button>
{% else %}
<button class="response-button" onclick="deleteResponse()">Убрать отклик</button>
{% endif %}

<script src="{% static 'main_app/scripts/idea.js' %}"> </script>

{% endblock content %}

