{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'main_app/styles/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для хранения идей</title>
</head>
<body>
    <div class="header">
        <button class="add-idea-button" onclick="toggleAddIdea()">Добавить идею</button>
    </div>

    <div id="overlay"></div>
    <div id="overlay-details"></div>

    <div id="add-idea-popup">
        <span class="close-button" onclick="toggleAddIdea()">&times;</span>
        <h2>Добавить идею</h2>
        <form id="add-idea-form">
            <label for="short-description">Краткое описание:</label><br>
            <input type="text" id="short-description" name="short-description"><br>
            <label for="details">Подробности:</label><br>
            <textarea id="details" name="details" rows="4"></textarea><br>
            <button type="submit">Отправить</button>
        </form>
    </div>

    <div id="details-popup">
        <div class="details-content">
            <span class="close-button" onclick="toggleDetails()">&times;</span>
            <h2>Подробности</h2>
            <p id="details-text"></p>
            <ul id="executors-list"></ul>
            <form id="add-executor-form">
                <label for="new-executor">Подпишитесь, если собираетесь исполнить:</label><br>
                <input type="text" id="new-executor" name="new-executor"><br>
                <button type="submit">Исполнить</button>
            </form>
        </div>
    </div>

    <div class="ideas-panel" id="ideas-panel">
        <!-- Панель для добавленных идей будет появляться здесь -->
    </div>

    <script>

        async function getAllIdeas() {
            const ideas = await fetch("/getAllIdeas")
                .then(
                        (response) => response.json()
                    );
            return ideas;
        }

        getAllIdeas().then((ideas) => {
            ideas.forEach((idea) => {
                addIdea(idea["shortDescription"], idea["details"]);
            });
        });
        {% comment %} console.log(ideas); {% endcomment %}
        
        toggleAddIdea();


        async function postFormData(shortDescription, details) {
            const response = await fetch("/createNewIdea", {
                method: "POST",
                cache: "no-cache",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "shortDescription":shortDescription,
                    "details": details
                })
            });
        }

        function toggleAddIdea() {
            var overlay = document.getElementById("overlay");
            var addIdeaPopup = document.getElementById("add-idea-popup");

            overlay.style.display = overlay.style.display === "none" ? "block" : "none";
            addIdeaPopup.style.display = addIdeaPopup.style.display === "none" ? "block" : "none";
        }

        function toggleDetails() {
            var overlay = document.getElementById("overlay-details");
            var detailsPopup = document.getElementById("details-popup");

            overlay.style.display = overlay.style.display === "none" ? "block" : "none";
            detailsPopup.style.display = detailsPopup.style.display === "none" ? "block" : "none";
        }

        document.getElementById("add-idea-form").addEventListener("submit", function(e) {
            e.preventDefault();
            let shortDescription = document.getElementById("short-description").value;
            let details = document.getElementById("details").value;
            postFormData(shortDescription, details).then(() => undefined);
            addIdea(shortDescription, details);
            document.getElementById("add-idea-form").reset();
            toggleAddIdea();
        });

        function addIdea(shortDescription, details) {
            var ideasPanel = document.getElementById("ideas-panel");
            var newIdea = document.createElement("div");
            newIdea.className = "idea";
            var strongElement = document.createElement("strong");
            strongElement.textContent = shortDescription;
            var brElement = document.createElement("br");
            var detailsText = document.createTextNode(details);
            var viewDetailsButton = document.createElement("button");
            viewDetailsButton.className = "view-details-button";
            viewDetailsButton.textContent = "Показать детали";
            viewDetailsButton.onclick = function() {
                showDetails(details);
            };
            newIdea.appendChild(strongElement);
            newIdea.appendChild(brElement);
            newIdea.appendChild(detailsText);
            newIdea.appendChild(viewDetailsButton);
            ideasPanel.appendChild(newIdea);
        }

        function showDetails(details) {
            var detailsPopup = document.getElementById("details-popup");
            var detailsTextElement = document.getElementById("details-text");
            detailsTextElement.textContent = details;
            var executorsList = document.getElementById("executors-list");
            executorsList.innerHTML = "";
            toggleDetails();
        }

        document.getElementById("add-executor-form").addEventListener("submit", function(e) {
            e.preventDefault();
            let newExecutor = document.getElementById("new-executor").value;
            addExecutor(newExecutor);
            document.getElementById("add-executor-form").reset();
        });

        function addExecutor(newExecutor) {
            var executorsList = document.getElementById("executors-list");
            var newExecutorElement = document.createElement("li");
            newExecutorElement.textContent = newExecutor;
            executorsList.appendChild(newExecutorElement);
            localStorage.setItem("executors", executorsList.innerHTML);
        }

        window.onload = function() {
            var executorsList = document.getElementById("executors-list");
            var storedExecutors = localStorage.getItem("executors");
            if (storedExecutors) {
                executorsList.innerHTML = storedExecutors;
            }
        };
    </script>
</body>
</html>